@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Work Sans', sans-serif;
  background-color: #F0F0F0;
  color: white;
}

.wrapperuz {
  padding: 20px 28px;
  margin: 0;
  width: 580px;
  background-color:#ffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  border: solid 2px white;
}

h3 {
  margin: 10px 14px 10px 0;
  font-weight: 300;
  font-size: 36px;
  color:#000;
}

p {
  margin: 10px 10px;
  font-weight: 300;
  font-size: 14px;
  opacity: 0.8;
  letter-spacing: 1px;
}

input {
  border: none;
  border-radius: 12px;
  padding: 16px 20px;
  margin: 8px;
  width: 100%;
  color: #666;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  outline: none;
  background-color: #F0F0F0;
  border:1px solid #333;
}

.tag-containeruz {
  display: flex;
  flex-flow: row wrap;
}

.tag{
  pointer-events: none;
  background-color: #ad9658;
  color: white;
  padding: 6px;
  margin: 5px;
  border-radius:6px; 
}

.tag::before {
  pointer-events: all;
  display: inline-block;
  content: 'x';  
  height: 20px;
  width: 20px;
  margin-right: 6px;
  text-align: center;
  color: #ccc;
  background-color: #111;
  cursor: pointer;
}